<div>
    <!--<button type="button" class="button" ng-click="openClick()">Test Open</button>-->

    <!-- List of items -->
    <div ng-show="!editingItem" class="list">
        <div class="item header">{{totalRows}} Items</div>
        <div class="item" ng-repeat="item in allItems | orderBy:'id':true track by item.id" ng-click="listItemClick(item)">
            <i ng-if="item.overlayType == 'marker'" class="ion ion-ios-location"></i>
            <i ng-if="item.overlayType == 'polyline'" class="ion ion-android-share-alt"></i>
            <i ng-if="item.overlayType == 'polygon'" class="ion ion-android-checkbox-outline-blank" style="transform: rotate(-15deg);"></i>
            <span class="padding">{{item.label}}</span>
            <span class="pull-right">{{item.id}}</span>
        </div>
    </div>

    <!-- Edit item -->
    <div class="list" ng-if="editingItem">
        <div class="item item-input">
            <input type="text" placeholder="label" ng-model="editingItem.label" />
        </div>
        <label class="item item-input item-select">
            <div class="input-label">
            Type
            </div>
            <select ng-model="editingItem.type">
                <option selected>Failure</option>
                <option>ADA</option>
                <option>Core Sample</option>
                <option>Inventory</option>
                <option>Other</option>
            </select>
        </label>
        <label class="item item-input item-select">
            <div class="input-label">
            Material
            </div>
            <select>
                <option selected>Asphalt</option>
                <option>Concrete</option>
                <option>Other</option>
            </select>
        </label>
        <div class="item item-input">
            <input type="number" placeholder="Quantity" ng-model="editingItem.quantity" />
            <span class="padding">{{editingItem.unit}}</span>
        </div>
        <div class="item item-toggle">
            Immediate Need
            <label class="toggle toggle-assertive">
            <input type="checkbox" ng-model="editingItem.immediateNeed">
            <div class="track">
                <div class="handle"></div>
            </div>
            </label>
        </div>
        <label class="item item-input item-select">
            <div class="input-label">
            Cause
            </div>
            <select ng-model="editingItem.cause">
                <option selected></option>
                <option>Subgrade water intrusion due to cracking</option>
                <option>Differential settlement</option>
                <option>Age, Traffic, Weather</option>
                <option>Settling</option>
                <option>Other</option>
            </select>
        </label>
    </div>
    <div class="padding" ng-if="editingItem" style="text-align:center;">
        <img ng-src="editingItem.photoUrl1" ng-if="editingItem.photoUrl1" width="100%" />
        <img ng-src="editingItem.photoUrl2" ng-if="editingItem.photoUrl2" width="100%" />
        <img src="http://placehold.it/480x320?text=open camera" ng-show="!editingItem.photoUrl1" width="45%" ng-click="openCamera()" />
        <img src="http://placehold.it/480x320?text=open camera" ng-show="!editingItem.photoUrl2" width="45%" ng-click="openCamera()" />
    </div>
    <div ng-if="editingItem" class="padding button-bar">
        <button class="button button-assertive button-outline" ng-click="deleteItem()">
            <i class="ion ion-ios-trash-outline"></i>
        </button>
        <button class="button button-dark button-outline" ng-click="closeItem()">Close</button>
        <button class="button button-positive button-outline" ng-click="saveItem()">Save</button>
    </div>
    <div ng-if="editingItem" class="padding meta">
        uniqueId: {{editingItem.id}}
        <br /> lastModified: {{editingItem.timeStamp }}
    </div>

</div>

<!-- Edit photos -->

<div id="toolbar-anchor" class="text-right padding">
    <!--<button type="button" class="button button-block" ng-click="openCamera()">Camera</button>-->

    <button type="button" class="button" ng-class="{ 'button-balanced': currentMapMode() == 'marker'}" ng-click="mapModeClick('marker')">
        <i class="ion ion-ios-location"></i>
    </button>
    <button type="button" class="button" ng-class="{ 'button-balanced': currentMapMode() == 'polyline'}" ng-click="mapModeClick('polyline')">
        <i class="ion ion-android-share-alt"></i>
    </button>
    <button type="button" class="button" ng-class="{ 'button-balanced': currentMapMode() == 'polygon'}" ng-click="mapModeClick('polygon')">
        <i class="ion ion-android-checkbox-outline-blank" style="transform: rotate(-15deg);"></i>
    </button>

    <button type="button" class="button button-calm" ng-click="centerMap()">
            <i class="ion ion-navigate"></i>
            <!--<i class="ion ion-load-d"></i>-->
        </button>
</div>

</div>