<ion-view view-title="System Tests">
    <ion-content>

        <ion-list>
            <!-- Camera -->
            <ion-item class="item-divider">Camera</ion-item>
            <ion-item>
                <button type="button" class="button button-positive" ng-click="takePicture()">Take Picture</button>
                <img ng-show="imgURI !== undefined" ng-src="{{imgURI}}" width="480px" />
                <img ng-show="imgURI === undefined" ng-src="http://placehold.it/480x320" />
                <span ng-show="uploading">one moment...</span> {{uploadResult}}
                <br />
                <a href="{{uploadUrl}}">Open file</a>
            </ion-item>
            <!-- Upload test -->
            <ion-item class="item-divider">Upload file</ion-item>
            <ion-item>
                <button type="button" class="button button-positive" ng-click="uploadTest()">Upload</button>
                <br />
                <span ng-show="uploading">one moment...</span> {{uploadResult}}
            </ion-item>
            <!-- Download test -->
            <ion-item class="item-divider">Download file</ion-item>
            <ion-item>
                <button type="button" class="button button-positive" ng-click="downloadTest()">Download</button>
                <br />
                <span ng-show="downloading">one moment...</span> {{downloadResult}}
            </ion-item>
            <!-- Geolocation -->
            <ion-item class="item-divider">Geolocation</ion-item>
            <ion-item>
                <button type="button" class="button button-positive" ng-click="getLocation()">Get Location</button>
                <br />
                <span ng-show="gettingLocation">one moment...</span> {{position}}
            </ion-item>
            <!-- Backand -->
            <ion-item class="item-divider">Backand (database)</ion-item>
            <ion-item>

                <button type="button" class="button button-positive" ng-click="getData()">Get Data</button>
                <br />
                <span ng-show="gettingData">one moment...</span> {{dataResult}}
            </ion-item>
            <!-- Error logger -->
            <ion-item class="item-divider">Backand (database)</ion-item>
            <ion-item>

                <button type="button" class="button button-positive" ng-click="logError()">Log Error</button>
                <br />
                <span ng-show="loggingError">one moment...</span> {{errorResult}}
            </ion-item>
        </ion-list>

    </ion-content>
</ion-view>