<ion-content id="map-content" scroll="false">
    <!--<div class="bar bar-header">
        <h1 class="title">Map</h1>
        <button class="button" ng-click="centerMap()">Recenter</button>
    </div>-->

    <div class="row">
        <div class="col">
            <!-- THE MAP!-->
            <div id="map"></div>
            <!-- tool bar -->
            <div id="toolbar">
                <button type="button" class="button button-positive" ng-click="centerMap()">Center</button>
                <button type="button" class="button button-positive" ng-click="centerMap()">{{test}}</button>
            </div>
        </div>
    </div>



</ion-content>
</ion-view>