#map-content {
    padding-top: 70px;
}

#map-content .scroll {
    height: 100%
}

#map-content #map {
    height: 100%;
    width: 100%;
    background-color: steelblue;
}

#map-content #form-pane {
    width: 33%;
    height: 80%;
    top: 10%;
    bottom: 10%;
    position: fixed;
    /* right: 0; */
    left: 67%;
    opacity: .8;
}