#map-content .row {
    height: 100%;
}

#map-content .row .col {
    height: 100%;
}

#map-content #map {
    height: 100%;
}

#toolbar-anchor {
    position: absolute;
    bottom: 5px;
    right: 5px;
}